<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuaScriptCore-Unity-OSX-output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LuaScriptCore-Unity-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LuaScriptCore-Unity-iOS-output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>LuaScriptCore-Unity-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LuaScriptCoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C20891A1DE2CC890020C84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C20892B1DE2D1AE0020C84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C60A9E11DD950C1000D56CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C651AFE1DD96495001C2552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CBA49761DD5980200D5880A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CDC7E081DDAFA26002F82C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CDC7E181DDAFCB3002F82C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
