<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuaScriptCore-OSX-output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LuaScriptCore-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LuaScriptCore-iOS-output.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LuaScriptCore-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LuaScriptCoreTests-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LuaScriptCoreTests-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C27F3C41DB72B0E0058C354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C27F3DC1DB72B0E0058C354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C27F3E71DB72B0E0058C354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C5A619B1D6AE441007D4308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C651B5B1DD96CB8001C2552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C651B721DD983AF001C2552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6B15161D6B0BF500489D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6B152D1D6B2B2500489D9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C8C2D501D38C0C0009345EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFCA4981D900B4900408C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFCA4B01D900B4900408C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CFCA4BB1D900B4900408C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
